@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
  }
  
.shimmer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #e0e0e0 8%, #f8f8f8 38%, #e0e0e0 54%);
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}